.head {
    background: var(--neviBlue);
    padding: 10px 0;
     .i{
        margin-right: 10px;
     }
     label{
        margin-right: 10px;
     }
   
        .left{
           
        }
    
    label{
        margin-right: 30px;
        font-size: 13px;
    }
    
}